@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Apfel Grotezk font */
@font-face {
  font-family: 'Apfel Grotezk';
  src: url('../public/fonts/ApfelGrotezk-Regular.woff2') format('woff2'),
       url('../public/fonts/ApfelGrotezk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('../public/fonts/ApfelGrotezk-Mittel.woff2') format('woff2'),
       url('../public/fonts/ApfelGrotezk-Mittel.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('../public/fonts/ApfelGrotezk-Fett.woff2') format('woff2'),
       url('../public/fonts/ApfelGrotezk-Fett.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('../public/fonts/ApfelGrotezk-Satt.woff2') format('woff2'),
       url('../public/fonts/ApfelGrotezk-Satt.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apfel Grotezk Brukt';
  src: url('../public/fonts/ApfelGrotezk-Brukt.woff2') format('woff2'),
       url('../public/fonts/ApfelGrotezk-Brukt.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Noise grain effect */
.noise-grain {
  position: relative;
}

.noise-grain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/noise-light.png');
  background-repeat: repeat;
  opacity: 0.15; /* 5% noise */
  z-index: 10;
  pointer-events: none;
  mix-blend-mode: overlay;
}

/* Utility classes for different noise levels */
@layer utilities {
  .noise-5 {
    position: relative;
  }
  .noise-5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/noise-light.png');
    background-repeat: repeat;
    opacity: 0.15;
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: overlay;
  }
  
  .noise-10 {
    position: relative;
  }
  .noise-10::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/noise-light.png');
    background-repeat: repeat;
    opacity: 0.1;
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: overlay;
  }
  
  .noise-15 {
    position: relative;
  }
  .noise-15::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/noise-light.png');
    background-repeat: repeat;
    opacity: 0.15;
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: overlay;
  }
}

@layer base {
  :root {
    --background: 0, 0%, 6%;
    --foreground: 0, 0%, 100%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 0, 0%, 37%;
    --accent-foreground: 210 40% 98%;

    --popover: 0, 0%, 16%;
    --popover-foreground: 0, 0%, 100%;

    --border: 0, 0%, 37%;
    --input: 0, 0%, 37%;

    --card: 0, 0%, 16%;
    --card-foreground: 0, 0%, 100%;

    --primary: 183, 85%, 33%;
    --primary-foreground: 0, 0%, 100%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 0, 0%, 37%;

    --radius: 0.5rem;
  }

  .dark {
    --background: #020611;
    --foreground: #e0e7ef;

    --muted: #0e1629;
    --muted-foreground: #7f8da3;

    --accent: #1c283a;
    --accent-foreground: #f7f9fb;

    --popover: #020611;
    --popover-foreground: #94a3b7;

    --border: #1c283a;
    --input: #1c283a;

    --card: #020611;
    --card-foreground: #e0e7ef;

    --primary: #f7f9fb;
    --primary-foreground: #010204;

    --secondary: #0f172a;
    --secondary-foreground: #f7f9fb;

    --destructive: #801d1d;
    --destructive-foreground: #f7f9fb;

    --ring: #1c283a;

    --radius: 0.5rem;
  }
}


.font-light {
  font-weight: 400;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


body {
  margin: 0;
  font-family: 'Apfel Grotezk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-button {
  background-color: #466F80;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #11B3BD;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primary-button:hover {
  background-color: #11B3BD;
  color: #FFFFFF;
  cursor: pointer;
}

.secondary-button {
  background-color: #2A2A2A;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #8791A3;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.secondary-button:hover {
  background-color: #8791A3;
  color: #FFFFFF;
  cursor: pointer;
}


/* Github Buttons */

/* CSS */
.github-primary {
  appearance: none;
  background-color: #466F80;
  border: 1px solid #11B3BD;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.github-primary:hover {
  background-color: #0C888E;
  text-decoration: none;
  transition-duration: 0.1s;
}

.github-primary:disabled {
  background-color: #b5bcca;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.github-primary:active {
  background-color: #8791A3;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.github-primary:focus {
  outline: 1px transparent;
}

.github-primary:before {
  display: none;
}

.github-primary:-webkit-details-marker {
  display: none;
}

/* CSS */
.github-secondary {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.github-secondary:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.github-secondary:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.github-secondary:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.github-secondary:focus {
  outline: 1px transparent;
}

.github-secondary:before {
  display: none;
}

.github-secondary:-webkit-details-marker {
  display: none;
}

.github-remove {
  appearance: none;
  background-color: #212830;
  border: 1px solid #3D444D;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #F75249;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1), color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.github-remove:hover {
  background-color: #B62324;
  color: #FFFFFF;
  text-decoration: none;
  transition-duration: 0.1s;
}

.github-remove:disabled {
  background-color: #2A2A2A;
  border-color: #5E5E5E;
  color: #cb1212;
  cursor: default;
}

.github-remove:active {
  background-color: #B62324;
  color: #FFFFFF;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.github-remove:focus {
  outline: 1px transparent;
}

.github-remove:before {
  display: none;
}

.github-remove:-webkit-details-marker {
  display: none;
}


.card-special {
  background-color: #2A2A2A;
  border: 2px solid #5E5E5E;
  border-radius: 15px;
}



@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fade-in-scale {
  animation-name: fade-in-scale;
  animation-fill-mode: forwards;
}