@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.primary-button {
  background-color: #0D939B;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #11B3BD;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primary-button:hover {
  background-color: #11B3BD;
  color: #FFFFFF;
  cursor: pointer;
}